<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Homepage</title>
    <link rel="stylesheet" href="/stylesheets/admin/adminHomepage.css">
</head>
<body>
    <%- include('adminPartials/adminNavbar') %>
    <div style="text-align: center;">
        <h1>WELCOME ADMIN</h1>
    </div>
    <div class="posts-container">
        <% if (posts.length === 0) { %>
            <p class="no-posts">No posts to show.</p>
        <% } else { %>
            <% posts = posts.reverse() %>
            <% posts.forEach(element => { %>
                <div class="post-card">
                    <img src="<%=element.image%>" alt="Placeholder Image" class="post-image">
                    <% const owner = users.find(user => user._id.toString() === element.owner.toString()); %>
                    <div class="post-content">
                        <% if (owner) { %>
                            <p><b>USER: <%= owner.username %></b></p>
                            <p><b>USER ID: <%= owner._id %></b></p>
                            <p><b>POST ID: <%= element._id %></b></p> 
                        <% } else { %>
                            <p><b>USER: Unknown</b></p>
                        <% } %>
                        <p><b>Posted on: <%= String(element.createdAt).split(' ').slice(1, -2).join(' ') %></b> <% if (element.createdAt.toString() !== element.updatedAt.toString()) { %><em style="color: grey; opacity: 0.7;">(Edited)</em><% } %></p>
                        <p><%= element.description %></p>
                    </div>
                </div>
                <hr class="post-divider">
            <% }); %>
        <% } %>
    </div>
</body>
</html>

