<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<body>
    <%- include('userPartials/userNavbar') %>
    <h1>Welcome to the profile page</h1>
    <hr>
    <% posts.forEach(element => { %>
        <div>
            <a href="/<%= id %>/profile/<%= element._id %>" style="text-decoration: none; color: inherit;">
                <p><b>USER: <%=owner%></b></p> 
                <p><b>Posted on: <%= String(element.createdAt).split(' ').slice(1, -2).join(' ') %></b></p>
                <p><%= element.description %></p>
            </a>
        </div>
        <hr>
    <% }); %>
</body>
</html>