<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="/stylesheets/user/profile.css">
</head>
<body>
    <%- include('userPartials/userNavbar') %>
    <h1>USER PROFILE PAGE</h1>
    <hr>
    <% posts = posts.reverse() %>
    <div class="posts-container">
        <% posts.forEach(element => { %>
            <div class="post-card">
                <img src="<%=element.image%>" alt="Placeholder Image" class="post-image">
                <div class="post-content">
                    <a href="/<%= id %>/profile/<%= element._id %>" class="post-link">
                        <p><b>USER: <%= owner %></b></p>
                        <p><b>Posted on: <%= String(element.createdAt).split(' ').slice(1, -2).join(' ') %></b> <% if (element.createdAt.toString() !== element.updatedAt.toString()) { %><em style="color: grey; opacity: 0.7;"> (Edited)</em><% } %></p>
                        <p><%= element.description %></p>
                    </a>
                </div>
            </div>
        <% }); %>
    </div>
</body>
</html>
