<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View User</title>
    <link rel="stylesheet" href="/stylesheets/user/viewUser.css">
</head>
<body>
    <div class="view-user-header">
        <h1>Viewing Profile of <%= owner %></h1>
    </div>
    <div class="posts-container">
        <% if (posts.length === 0) { %>
            <p class="no-posts">No posts to show.</p>
        <% } else { %>
            <% posts = posts.reverse() %>
            <% posts.forEach(element => { %>
                <div class="post-card">
                    <img src="<%=element.image%>" alt="Placeholder Image" class="post-image">
                    <div class="post-content">
                        <p><b>USER: <%= owner %></b></p>
                        <p><b>Posted on: <%= String(element.createdAt).split(' ').slice(1, -2).join(' ') %></b><% if (element.createdAt.toString() !== element.updatedAt.toString()) { %><em style="color: grey; opacity: 0.7;"> (Edited)</em><% } %></p>
                        <p><%= element.description %></p>
                    </div>
                </div>
                <hr class="post-divider">
            <% }); %>
        <% } %>
    </div>
</body>
</html>
