<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Viewing post</title>
    <link rel="stylesheet" href="/stylesheets/user/viewPost.css">
</head>
<body>
    <%- include('../userPartials/userNavbar') %>
    <div class="post-details">
        <h1>Edit the description</h1>
        <p><b>Posted on: <%= String(post.createdAt).split(' ').slice(1, -2).join(' ') %></b></p>
    </div>
    <form action="/<%= id %>/profile/<%= post._id %>?_method=PUT" method="POST" class="form-container">
        <textarea name="description" id="description" class="textarea"><%= post.description %></textarea>
        <button type="submit" class="submit-button">EDIT</button>
    </form>
    <form action="/<%= id %>/profile/<%= post._id %>?_method=DELETE" method="POST" class="form-container">
        <button type="submit" class="delete-button">DELETE POST</button>
    </form>
</body>
</html>
